<!DOCTYPE html>  
<html ng-app>  
  <head>  
    <title>To Do List</title>  
    <script type="text/javascript" src="http://code.angularjs.org/angular-1.0.1.min.js"></script> 
    <script type="text/javascript" src="controllers.todo.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>  

  <body>
    <h1>Angular 學習日誌！</h1>

    <div id="blockOne" style="border: 2px solid red;
                              height: 100px;
                              padding: 10px;">
      <h2>一、Angular say Hello to: {{ yourName }}</h2>
      <label>請輸入你的姓名：</label>
      <input type="text" ng-model="yourName" />
    </div>

    <!-- Todo Controller -->
    <div id="blockTwo" style="border: 2px solid black;
                              height: 500px;
                              padding: 10px"
         ng-controller="TodoCtrl">
      <h2>二、To-do-list</h2>

      <!-- Add item to to-do-list -->
      <form ng-submit="addItem()">
        <input type="text" ng-model="newItem" name="newItem" />
        <input type="submit" id="submit" value="新增代辦事項" />
        <!-- to-do-list -->
        <h2>To do list!</h2>
        <ul id="todo"
            style="border: 2px solid green">
          <li ng-repeat="item in todoList | filter: { isFinish: false }">
            <div ng-hide="item.editing">
              <input type="checkbox" ng-click="removeItem(item)" />
              <span ng-dblclick="edit(item)" style="border: 2px solid blue;">{{ item.label }}</span>
            </div>

            <div ng-show="item.editing">
              <input type="text" value="{{ item.label }}" ng-model="item.label" style="border: 2px solid blue;" />
              <button ng-click="save(item)">儲存</button>
            </div>
          </li>
        </ul>
        <!-- finished list -->
        <h2>Finished!</h2>
        <ul id="finish" style="border: 2px solid green">
          <li ng-repeat="item in todoList | filter: { isFinish: true }">
            {{ item.label }}
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>  